/*NAVBAR*/

nav #logout_button
{
	margin-left: 10px;
}

/*LOGIN PAGE */
#login
{
	width: 50%;
	margin:auto;
}

#login .alert
{
	font-size: 17px;

}

#login form
{
	width: 90%;
	margin:auto;
}

/*ADMIN PAGE*/

#adminManagement
{
	width: 70%;
	margin:auto;
}

#upload_teacher, #upload_agenda
{
	margin-bottom: 10px;
}

.upload_button
{
	width: 100%;
}



.upload{
	margin:10px;
}

/*BLOCS PAGE*/

#blocs_manager
{
	width: 70%;
}

/*BLOC PAGE*/

#bloc_manager
{
	width: 70%;
}

/*BLOCS PAGE*/


/*TEACHER PAGE*/
#teacher_view
{
	width: 70%;
}





