section
{
	width: 70%;
	margin:auto;
}

/*NAVBAR*/

nav #logout_button
{
	margin-left: 10px;
}

/*LOGIN PAGE */
#login
{
	width: 50%;
	margin:auto;
}

#login .alert
{
	font-size: 17px;

}

#login form
{
	width: 90%;
	margin:auto;
}

/*ADMIN PAGE*/

#upload_teacher, #upload_agenda
{
	margin-bottom: 10px;
}

.upload_button
{
	width: 100%;
}



.upload{
	margin:10px;
}







