/*NAVBAR*/

nav #logout_button
{
	margin-left: 10px;
}

/*LOGIN PAGE */
#login
{
	width: 70%;
	margin:auto;
}

#login .alert
{
	font-size: 17px;

}

#login form
{
	width: 70%;
	margin:auto;
}

/*ADMIN PAGE*/

#adminManagement
{
	width: 70%;
	margin:auto;
}

#upload_teacher, #upload_agenda
{
	margin-bottom: 10px;
}

#button_upload_teacher
{
	width: 100%;
}



.upload{
	margin:10px;
}






